<h3>Welcome <%= @user.name %>! </h3>

<% if @user.role == 'Administrator' %>
    <%= render 'shared/admin_show' %>
<% elsif @user.role == 'Seller' %>
    <%= render 'shared/seller_show' %>
<% else %>
    <%= render 'shared/bidder_show' %>
<% end %>